@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #1a7de1;
  }
}

html.dark {
  --background: #0a0a0a;
  --foreground: #F4F6F8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  @apply flex flex-row items-center gap-4;
}

.searchText {
  @apply text-slate-900 opacity-50 dark:opacity-50;
}